pinecone-client==2.2.2
python-dotenv==1.0.0
openai==0.27.9
tiktoken==0.3.3
streamlit==1.38.0
weaviate-client==3.24.2
atlassian-python-api==3.41.3
markdownify==0.11.6
pytesseract==0.3.10
Pillow==9.5.0
reportlab==4.0.5
svglib==1.5.1
streamlit==1.25.0  # Adjust the version as necessary
python-dotenv==1.0.0  # For load_dotenv
weaviate-client==3.7.0  # For Weaviate
langchain==0.0.300
langchain-openai==0.1.2  # For ChatOpenAI and OpenAIEmbeddings
langchain-weaviate==0.1.0  # For WeaviateVectorStore
langchain-community==0.3.1